# Análise estatística do dataset "World COVID-19 Data"
https://www.kaggle.com/datasets/abhishek14398/world-covid19-data

Arquivos utilizados:
- CONVENIENT_global_confirmed_cases.csv
    - Primeira linha: lista de países/regiões
    - Segunda linha: lista de províncias/estados para alguns países apenas
    - Primeira coluna: datas em dias
    - Colunas seguintes, quantidade de casos confirmados
- CONVENIENT_global_deaths.csv
    - Primeira linha: lista de países/regiões
    - Segunda linha: lista de províncias/estados para alguns países apenas
    - Primeira coluna: datas em dias
    - Colunas seguintes, quantidade de casos de mortes
- CONVENIENT_global_metadata.csv
    - Primeira linha: header
    - Primeira coluna: índice
    - Segunda coluna: países/regiões
    - Terceira coluna: províncias/estados
    - Quarta coluna: latitude
    - Quinta coluna: longitude

In [46]:
# instalação de ffmpeg:
# !pip install ffmpeg-python
# from IPython.display import HTML
# Necessita do ffmpeg, então optamos por não utilizar

# importando pacotes
import os
import warnings
import itertools
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.animation as animation
import plotly.express as px

# ignorar warnings (limpar notebook)
warnings.filterwarnings('ignore')

# constantes
DATA_FOLDER = './data'

CONFIRMED_CASES_DATA = 'CONVENIENT_global_confirmed_cases.csv'
DEATH_CASES_DATA = 'CONVENIENT_global_deaths.csv'
LOCATION_DATA = 'CONVENIENT_global_metadata.csv'
GAPMINDER_POP_AREA = 'gapminder_en_pop_dnst.csv'
GAPMINDER_GDP_TOTAL = 'gapminder_gdp_total_yearly_growth.csv'
GAPMINDER_GDPPERCAPTA = 'gapminder_gdppercapita_us_inflation_adjusted.csv'
GAPMINDER_MEDIAN_AGE = 'gapminder_median_age_years.csv'
GAPMINDER_POP_TOTAL = 'gapminder_population_total.csv'

In [47]:
# realizando a leitura dos dados
# esses arquivos tem duas linhas de header, onde a primeira é o nome do país
# a segunda é uma região do país, caso exista, senão, vazio (NaN)
path_ = os.path.join(DATA_FOLDER, DEATH_CASES_DATA)
death = pd.read_csv(path_, sep=',', header=[0,1])
# concatena as duas linhas de header
death.columns = [f'{i}_{j}' if j != 'nan' else f'{i}' for i, j in death.columns]
# modifica nome da primeira coluna
death = death.rename(columns={'Country/Region_Province/State': 'data'})
# transformando a coluna Data no tipo Data
death.data = pd.to_datetime(death.data)

# idem para confirmed
path_ = os.path.join(DATA_FOLDER, CONFIRMED_CASES_DATA)
confirmed = pd.read_csv(path_, sep=',', header=[0,1])
confirmed.columns = [f'{i}_{j}' if j != 'nan' else f'{i}' for i, j in confirmed.columns]
confirmed = confirmed.rename(columns={'Country/Region_Province/State': 'data'})
confirmed.data = pd.to_datetime(confirmed.data)

# arquivo de latitude e longitude
# primeira coluna de indice
path_ = os.path.join(DATA_FOLDER, LOCATION_DATA)
location = pd.read_csv(path_, sep=',', index_col=0)
# no caso do location tem que criar uma nova coluna para match os nomes dos headers dos dfs death e confirmed
location["Region"] = location["Country/Region"].str.cat(location["Province/State"], sep="_", na_rep="")
# remover _ de células onde o Province/State era NaN
location["Region"] = location["Region"].str.removesuffix("_")

In [42]:
path_ = os.path.join(DATA_FOLDER, DEATH_CASES_DATA)
death = pd.read_csv(path_, sep=',', header=[0,1])
teste = death.T.copy()
teste.reset_index(inplace=True)
teste.columns = teste.loc[0]
teste.drop([0], axis=0, inplace=True)
teste.reset_index(inplace=True, drop=True)
teste

,Country/Region,Province/State,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,1/3/23,1/4/23,1/5/23,1/6/23,1/7/23,1/8/23,1/9/23,1/10/23,1/11/23,1/12/23
0,Afghanistan,nan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0
1,Albania,nan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Algeria,nan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Andorra,nan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Angola,nan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,West Bank and Gaza,nan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
285,Winter Olympics 2022,nan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
286,Yemen,nan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
287,Zambia,nan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,3.0,0.0,2.0,0.0,1.0,3.0
288,Zimbabwe,nan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
teste = teste.groupby("Country/Region").sum()

In [45]:
teste = teste.T

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,Australia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
0,,,,,,,,,,,,,,,,,,,,,
Province/State,nan,nan,nan,nan,nan,nan,nan,nan,nan,Australian Capital TerritoryNew South WalesNor...,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/26/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1/8/23,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
1/9/23,1.0,0.0,0.0,0.0,0.0,0.0,0.0,78.0,0.0,29.0,...,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
1/10/23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/11/23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1/12/23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,270.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0

In [51]:
death

,data,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
0,2020-01-23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-01-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-01-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-01-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-01-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1081,2023-01-08,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
1082,2023-01-09,1.0,0.0,0.0,0.0,0.0,0.0,0.0,78.0,0.0,...,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
1083,2023-01-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1084,2023-01-11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1085,2023-01-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0

In [ ]:
confirmed

In [ ]:
location
# embora haja muitos valores NaN, nao podemos remover as linhas com NaN, podemos substituir, mas nao sera necessario
# pois sera feito posteriormente
#checar qtd de NaN e qtd em fração de Nan

In [48]:
# confirmando se o shape de death e confirmed são iguais (mesma qtd de linhas e colunas)
print(death.shape == confirmed.shape)
# confirmando se as datas são iguais analisando uma a uma, somando os trues e comparando a quantidade de datas
print(sum(death.data == confirmed.data) == death.shape[0])
# confirmando se os nomes das colunas são iguais
print(sum(death.columns == confirmed.columns) == (death.columns.size))
# confirmando se o location["Regions"] bate com os nomes das colunas dos outros dois dfs:
print(sum(location["Region"] == death.columns[1:]) == death.columns[1:].size)

True
True
True
True

In [ ]:
# verificando informações do DF
death.info

In [49]:
# checando por dados do tipo NaN
print(sum(death.isna().sum()))
print(sum(confirmed.isna().sum()))
# nao ha dados do tipo NaN
print("="*20)
# checando por dados negativos
print((death.iloc[:,1:] < 0).cumsum().loc[1085][(death.iloc[:,1:] < 0).cumsum().loc[1085]>0])
print("="*20)
print((confirmed.iloc[:,1:] < 0).cumsum().loc[1085][(confirmed.iloc[:,1:] < 0).cumsum().loc[1085]>0])
# dados negativos neste caso podem ser dados anteriores errados sendo corrigidas

0
0
====================
Andorra                                                        1
Angola                                                         1
Armenia                                                        1
Australia_Australian Capital Territory                         4
Australia_New South Wales                                      2
                                                              ..
United Kingdom_Cayman Islands                                  1
United Kingdom_Montserrat                                      1
United Kingdom_Saint Helena, Ascension and Tristan da Cunha    1
Venezuela                                                      1
Vietnam                                                        2
Name: 1085, Length: 106, dtype: int32
====================
Afghanistan                                2
Antigua and Barbuda                        2
Australia_Australian Capital Territory     7
Australia_New South Wales                  8
Australia_Northern Territory              23
                                          ..
United Kingdom                             3
Uruguay                                    1
Vanuatu                                    2
Yemen                                      1
Zimbabwe                                   1
Name: 1085, Length: 126, dtype: int32

In [50]:
# analise estatistica
stats_death = death.describe().T
stats_death

                       count      mean        std  min  25%  50%  75%    max
Afghanistan           1086.0  7.232044  15.972543  0.0  0.0  2.0  6.0  159.0
Albania               1086.0  3.311234   4.524262  0.0  0.0  1.0  5.0   21.0
Algeria               1086.0  6.336096   7.518476  0.0  0.0  5.0  9.0   49.0
Andorra               1086.0  0.151934   0.544711 -2.0  0.0  0.0  0.0    7.0
Angola                1086.0  1.777164   3.100776 -3.0  0.0  0.0  3.0   30.0
...                      ...       ...        ...  ...  ...  ...  ...    ...
West Bank and Gaza    1086.0  5.255985  11.210053  0.0  0.0  1.0  7.0  268.0
Winter Olympics 2022  1086.0  0.000000   0.000000  0.0  0.0  0.0  0.0    0.0
Yemen                 1086.0  1.988029   4.476960  0.0  0.0  0.0  2.0   60.0
Zambia                1086.0  3.714549   9.796901  0.0  0.0  0.0  3.0   72.0
Zimbabwe              1086.0  5.190608  12.912094  0.0  0.0  1.0  3.0  107.0

[289 rows x 8 columns]

In [ ]:
# análise estatística
stats_confirmed = confirmed.describe().T
stats_confirmed

In [ ]:
# eliminar variáveis de variância nula (abaixo de um limiar)
# stats_death['CV'] = abs(stats_death['std'] * 100 / stats_death['mean'])
# stats_confirmed['CV'] = abs(stats_confirmed['std'] * 100 / stats_confirmed['mean'])
# print(stats_death)
# print(stats_confirmed)
# nao faz sentido este tratamento para este dataset.

In [ ]:
# checando paises com numero de mortes menores que dois
stats_death[stats_death['max'] < 2]

In [4]:
# criando novo DF agrupando por ano e mes e somando os casos de mortes
death_monthly = death.groupby([death.data.dt.year, death.data.dt.month])[death.columns[1:]].sum()
# fazendo a soma cumulativa dos casos
death_monthly = death_monthly.cumsum()
# renomeando o indice
death_monthly.index.rename(['ano', 'mes'], inplace=True)
# resetando o indice para transformar em colunas do DF
death_monthly.reset_index(inplace=True)
# criando uma nova coluna de data unindo ano e mes e adicionando leading zero
death_monthly["data"] = death_monthly["ano"].astype(str) + death_monthly["mes"].astype(str).str.zfill(2)
death_monthly

,ano,mes,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,...,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe,data
0,2020,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202001
1,2020,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202002
2,2020,3,4.0,15.0,44.0,12.0,2.0,0.0,0.0,27.0,...,2.0,0.0,3.0,0.0,1.0,0.0,0.0,0.0,1.0,202003
3,2020,4,60.0,31.0,450.0,42.0,2.0,0.0,3.0,218.0,...,9.0,0.0,16.0,0.0,2.0,0.0,2.0,3.0,4.0,202004
4,2020,5,254.0,33.0,653.0,51.0,4.0,0.0,3.0,539.0,...,15.0,0.0,14.0,0.0,3.0,0.0,80.0,7.0,4.0,202005
5,2020,6,739.0,62.0,912.0,52.0,13.0,0.0,3.0,1307.0,...,26.0,0.0,51.0,0.0,8.0,0.0,312.0,24.0,7.0,202006
6,2020,7,1275.0,157.0,1210.0,52.0,52.0,0.0,3.0,3543.0,...,141.0,0.0,164.0,3.0,82.0,0.0,493.0,151.0,67.0,202007
7,2020,8,1406.0,284.0,1510.0,53.0,108.0,0.0,3.0,8660.0,...,320.0,0.0,386.0,34.0,152.0,0.0,566.0,288.0,202.0,202008
8,2020,9,1462.0,387.0,1736.0,53.0,183.0,0.0,3.0,16937.0,...,470.0,0.0,628.0,35.0,311.0,0.0,587.0,332.0,228.0,202009
9,2020,10,1533.0,509.0,1964.0,75.0,284.0,0.0,3.0,31002.0,...,566.0,0.0,798.0,35.0,483.0,0.0,599.0,349.0,243.0,202010
10,2020,11,1763.0,810.0,2431.0,76.0,348.0,0.0,4.0,38730.0,...,610.0,0.0,897.0,35.0,732.0,0.0,605.0,357.0,276.0,202011
11,2020,12,2189.0,1181.0,2756.0,84.0,405.0,0.0,5.0,43245.0,...,614.0,0.0,1028.0,35.0,1400.0,0.0,610.0,388.0,363.0,202012
12,2021,1,2400.0,1380.0,2891.0,101.0,466.0,0.0,7.0,47974.0,...,621.0,0.0,1189.0,35.0,1833.0,0.0,615.0,763.0,1217.0,202101
13,2021,2,2443.0,1796.0,2983.0,110.0,508.0,0.0,14.0,51965.0,...,622.0,0.0,1344.0,35.0,2042.0,0.0,634.0,1091.0,1463.0,202102
14,2021,3,2484.0,2235.0,3093.0,115.0,537.0,0.0,28.0,55858.0,...,629.0,0.0,1602.0,35.0,2627.0,0.0,888.0,1208.0,1523.0,202103
15,2021,4,2625.0,2394.0,3253.0,125.0,596.0,0.0,32.0,63865.0,...,649.0,1.0,2136.0,35.0,3249.0,0.0,1226.0,1251.0,1567.0,202104
16,2021,5,2944.0,2451.0,3472.0,127.0,766.0,0.0,42.0,78093.0,...,690.0,1.0,2646.0,47.0,3497.0,0.0,1321.0,1281.0,1594.0,202105
17,2021,6,4871.0,2456.0,3716.0,127.0,900.0,0.0,42.0,94304.0,...,736.0,1.0,3119.0,81.0,3563.0,0.0,1361.0,2199.0,1789.0,202106
18,2021,7,6708.0,2457.0,4254.0,128.0,1011.0,0.0,43.0,105721.0,...,874.0,1.0,3591.0,1306.0,3603.0,0.0,1375.0,3389.0,3532.0,202107
19,2021,8,7118.0,2498.0,5269.0,130.0,1217.0,0.0,44.0,111812.0,...,1082.0,1.0,4010.0,11064.0,3680.0,0.0,1472.0,3602.0,4419.0,202108
20,2021,9,7204.0,2698.0,5812.0,130.0,1537.0,0.0,79.0,115179.0,...,1239.0,1.0,4469.0,19301.0,4098.0,0.0,1721.0,3648.0,4623.0,202109
21,2021,10,7280.0,2924.0,5920.0,130.0,1710.0,0.0,102.0,115950.0,...,1323.0,1.0,4891.0,22083.0,4663.0,0.0,1889.0,3661.0,4678.0,202110
22,2021,11,7308.0,3096.0,6071.0,131.0,1733.0,0.0,117.0,116589.0,...,1402.0,1.0,5144.0,25252.0,4796.0,0.0,1950.0,3667.0,4707.0,202111
23,2021,12,7356.0,3217.0,6276.0,140.0,1770.0,0.0,119.0,117169.0,...,1485.0,1.0,5328.0,32394.0,4919.0,0.0,1984.0,3734.0,5004.0,202112
24,2022,1,7414.0,3346.0,6579.0,145.0,1895.0,0.0,127.0,121273.0,...,1564.0,1.0,5447.0,37777.0,5098.0,0.0,2012.0,3917.0,5338.0,202201
25,2022,2,7598.0,3469.0,6835.0,151.0,1900.0,0.0,135.0,126152.0,...,1635.0,1.0,5636.0,40252.0,5501.0,0.0,2135.0,3952.0,5395.0,202202
26,2022,3,7670.0,3492.0,6874.0,153.0,1900.0,0.0,135.0,128019.0,...,1637.0,2.0,5682.0,42493.0,5655.0,0.0,2143.0,3966.0,5444.0,202203
27,2022,4,7683.0,3496.0,6875.0,153.0,1900.0,0.0,136.0,128542.0,...,1637.0,13.0,5709.0,43041.0,5657.0,0.0,2149.0,3976.0,5469.0,202204
28,2022,5,7705.0,3497.0,6875.0,153.0,1900.0,0.0,138.0,128889.0,...,1637.0,14.0,5721.0,43079.0,5660.0,0.0,2149.0,3987.0,5503.0,202205
29,2022,6,7723.0,3500.0,6875.0,153.0,1900.0,0.0,141.0,129070.0,...,1637.0,14.0,5732.0,43087.0,5660.0,0.0,2149.0,4006.0,5555.0,202206
30,2022,7,7748.0,3545.0,6876.0,153.0,1912.0,0.0,144.0,129369.0,...,1637.0,14.0,5763.0,43093.0,5678.0,0.0,2151.0,4015.0,5577.0,202207
31,2022,8,7777.0,3582.0,6878.0,154.0,1917.0,0.0,145.0,129711.0,...,1637.0,14.0,5796.0,43117.0,5704.0,0.0,2155.0,4016.0,5596.0,202208
32,2022,9,7800.0,3589.0,6879.0,155.0,1917.0,0.0,146.0,129897.0,...,1637.0,14.0,5814.0,43148.0,5707.0,0.0,2157.0,4017.0,5602.0,202209
33,2022,10,7822.0,3593.0,6881.0,155.0,1917.0,0.0,146.0,129991.0,...,1637.0,14.0,5820.0,43163.0,5708.0,0.0,2158.0,4017.0,5606.0,202210
34,2022,11,7833.0,3594.0,6881.0,157.0,1924.0,0.0,146.0,130025.0,...,1637.0,14.0,5828.0,43175.0,5708.0,0.0,2159.0,4019.0,5620.0,202211
35,2022,12,7849.0,3595.0,6881.0,165.0,1930.0,0.0,146.0,130124.0,...,1637.0,14.0,5832.0,43186.0,5708.0,0.0,2159.0,4024.0,5637.0,202212
36,2023,1,7854.0,3596.0,6881.0,165.0,1930.0,0.0,146.0,130249.0,...,1637.0,14.0,5834.0,43186.0,5708.0,0.0,2159.0,4034.0,5637.0,202301

In [5]:
# idem para confirmed
confirmed_monthly = confirmed.groupby([confirmed.data.dt.year, confirmed.data.dt.month])[confirmed.columns[1:]].sum()
confirmed_monthly = confirmed_monthly.cumsum()
confirmed_monthly.index.rename(['ano', 'mes'], inplace=True)
confirmed_monthly.reset_index(inplace=True)
confirmed_monthly["data"] = confirmed_monthly["ano"].astype(str) + confirmed_monthly["mes"].astype(str).str.zfill(2)
confirmed_monthly

,ano,mes,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,...,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe,data
0,2020,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,202001
1,2020,2,5.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,16.0,0.0,0.0,0.0,0.0,0.0,202002
2,2020,3,166.0,243.0,716.0,376.0,7.0,0.0,7.0,1054.0,...,172.0,0.0,135.0,212.0,119.0,0.0,0.0,35.0,8.0,202003
3,2020,4,1827.0,773.0,4006.0,745.0,27.0,0.0,24.0,4428.0,...,2039.0,0.0,333.0,270.0,344.0,0.0,6.0,106.0,40.0,202004
4,2020,5,15180.0,1137.0,9394.0,764.0,86.0,0.0,26.0,16851.0,...,3623.0,0.0,1510.0,328.0,448.0,0.0,323.0,1057.0,178.0,202005
5,2020,6,31445.0,2535.0,13907.0,855.0,284.0,0.0,69.0,64530.0,...,8503.0,0.0,5832.0,355.0,2428.0,0.0,1158.0,1594.0,591.0,202006
6,2020,7,36628.0,5276.0,30394.0,925.0,1148.0,0.0,91.0,191302.0,...,24009.0,0.0,18574.0,558.0,11837.0,0.0,1728.0,5963.0,3169.0,202007
7,2020,8,38248.0,9513.0,44494.0,1176.0,2654.0,0.0,94.0,417735.0,...,41893.0,0.0,46728.0,1044.0,22729.0,0.0,1958.0,12097.0,6497.0,202008
8,2020,9,39354.0,13649.0,51530.0,2050.0,4972.0,0.0,101.0,751001.0,...,56717.0,0.0,75122.0,1094.0,39899.0,0.0,2034.0,14759.0,7838.0,202009
9,2020,10,41334.0,20875.0,57942.0,4756.0,10805.0,0.0,128.0,1166924.0,...,66932.0,0.0,92013.0,1180.0,53520.0,0.0,2063.0,16432.0,8367.0,202010
10,2020,11,46215.0,38182.0,83199.0,6745.0,15139.0,0.0,141.0,1424533.0,...,73094.0,1.0,102394.0,1347.0,85647.0,0.0,2077.0,17647.0,9950.0,202011
11,2020,12,52330.0,58316.0,99610.0,8049.0,17553.0,0.0,159.0,1625514.0,...,77060.0,1.0,113558.0,1465.0,138004.0,0.0,2099.0,20725.0,13867.0,202012
12,2021,1,55023.0,78127.0,107339.0,9937.0,19796.0,0.0,234.0,1927239.0,...,78711.0,1.0,126927.0,1817.0,158962.0,0.0,2121.0,54217.0,33388.0,202101
13,2021,2,55714.0,107167.0,113092.0,10866.0,20807.0,0.0,730.0,2107365.0,...,79926.0,1.0,139116.0,2448.0,183612.0,0.0,2285.0,78534.0,36089.0,202102
14,2021,3,56454.0,125157.0,117192.0,12010.0,22311.0,0.0,1136.0,2348821.0,...,82869.0,3.0,160497.0,2603.0,242353.0,0.0,4357.0,88418.0,36882.0,202103
15,2021,4,59745.0,131085.0,122108.0,13232.0,26652.0,0.0,1232.0,2977363.0,...,90808.0,4.0,197683.0,2928.0,296462.0,0.0,6317.0,91586.0,38257.0,202104
16,2021,5,71838.0,132315.0,128913.0,13727.0,34551.0,0.0,1260.0,3781784.0,...,100335.0,4.0,234165.0,7432.0,308350.0,0.0,6742.0,95263.0,38961.0,202105
17,2021,6,118659.0,132521.0,139626.0,13911.0,38849.0,0.0,1263.0,4470374.0,...,110677.0,4.0,272712.0,17052.0,314167.0,0.0,6920.0,154948.0,49864.0,202106
18,2021,7,147154.0,133081.0,171392.0,14678.0,42777.0,0.0,1303.0,4929764.0,...,129327.0,4.0,305766.0,150060.0,316738.0,0.0,7061.0,195816.0,108860.0,202107
19,2021,8,153220.0,146387.0,196080.0,15033.0,47544.0,0.0,1715.0,5185620.0,...,156394.0,4.0,334343.0,462096.0,342282.0,0.0,7869.0,206327.0,124773.0,202108
20,2021,9,155174.0,170131.0,203359.0,15222.0,56583.0,0.0,3231.0,5256902.0,...,173895.0,4.0,368968.0,790755.0,403716.0,0.0,9067.0,209046.0,130820.0,202109
21,2021,10,156250.0,185300.0,206452.0,15516.0,64433.0,0.0,4058.0,5288807.0,...,185963.0,6.0,407151.0,921122.0,452997.0,0.0,9791.0,209734.0,132977.0,202110
22,2021,11,157289.0,199945.0,210531.0,17115.0,65168.0,0.0,4141.0,5330748.0,...,193208.0,6.0,431296.0,1238082.0,460053.0,0.0,10004.0,210169.0,134625.0,202111
23,2021,12,158084.0,210224.0,218432.0,23740.0,81593.0,11.0,4283.0,5654408.0,...,198903.0,7.0,444635.0,1731257.0,469748.0,0.0,10126.0,254274.0,213258.0,202112
24,2022,1,162926.0,258543.0,252117.0,35958.0,98116.0,11.0,6627.0,8378656.0,...,223008.0,7.0,485974.0,2275727.0,524716.0,248.0,11019.0,305047.0,229666.0,202201
25,2022,2,173659.0,271563.0,264936.0,37999.0,98741.0,11.0,7437.0,8900656.0,...,236405.0,18.0,515124.0,3443485.0,645947.0,521.0,11771.0,312750.0,236380.0,202202
26,2022,3,177747.0,273677.0,265671.0,40024.0,99169.0,11.0,7491.0,9037911.0,...,237749.0,3379.0,520373.0,9564609.0,655750.0,535.0,11806.0,316850.0,246286.0,202203
27,2022,4,178879.0,275107.0,265780.0,41349.0,99287.0,11.0,7626.0,9072230.0,...,238596.0,7330.0,522325.0,10649809.0,657060.0,535.0,11818.0,319594.0,247875.0,202204
28,2022,5,180347.0,276101.0,265884.0,42894.0,99761.0,11.0,8253.0,9230573.0,...,239028.0,9088.0,523654.0,10719379.0,657705.0,535.0,11822.0,321779.0,252398.0,202205
29,2022,6,182528.0,280851.0,266087.0,43774.0,101320.0,11.0,8641.0,9367172.0,...,240764.0,11266.0,526022.0,10746470.0,659853.0,535.0,11824.0,325857.0,255586.0,202206
30,2022,7,185749.0,312097.0,267454.0,45508.0,102301.0,11.0,8773.0,9560307.0,...,243093.0,11724.0,535836.0,10779632.0,682096.0,535.0,11877.0,329483.0,256378.0,202207
31,2022,8,193250.0,329352.0,270304.0,46027.0,102636.0,11.0,8974.0,9678225.0,...,243801.0,11815.0,542508.0,11411679.0,702332.0,535.0,11926.0,332822.0,256726.0,202208
32,2022,9,199188.0,332221.0,270673.0,46227.0,103131.0,11.0,9098.0,9708420.0,...,244218.0,11950.0,544803.0,11479356.0,702768.0,535.0,11935.0,333531.0,257465.0,202209
33,2022,10,203063.0,332966.0,270838.0,46535.0,103131.0,11.0,9106.0,9718875.0,...,244648.0,11981.0,545899.0,11502885.0,703036.0,535.0,11939.0,333681.0,257893.0,202210
34,2022,11,205907.0,333343.0,271090.0,47219.0,104676.0,11.0,9106.0,9727247.0,...,246520.0,11981.0,547396.0,11515908.0,703036.0,535.0,11945.0,333746.0,259164.0,202211
35,2022,12,207559.0,333806.0,271228.0,47751.0,105095.0,11.0,9106.0,9891139.0,...,249217.0,12013.0,550522.0,11525231.0,703228.0,535.0,11945.0,334425.0,259981.0,202212
36,2023,1,207900.0,334018.0,271277.0,47781.0,105095.0,11.0,9106.0,10004679.0,...,250137.0,12014.0,550802.0,11526034.0,703228.0,535.0,11945.0,336340.0,259981.0,202301

In [6]:
# criando novo dataframe com o formato apropriado para utilizar plotly.express.scatter_geo:
# data - confirmed - pais - lat - lon
# para utilizar com scatter_geo
novo_df = pd.DataFrame(columns=['data', 'confirmed', 'death', 'pais', 'lat', 'lon'])
for coluna in confirmed_monthly.columns[2:-1]:
    temp = confirmed_monthly[['data', coluna]]
    temp["death"] = death_monthly[[coluna]]
    temp['pais'] = temp.columns[1]
    temp['lat'] = location[location["Region"] == coluna]['Lat'].values[0]
    temp['lon'] = location[location["Region"] == coluna]['Long'].values[0]
    temp.columns = ['data', 'confirmed', 'death', 'pais', 'lat', 'lon']
    novo_df = pd.concat([novo_df, temp], ignore_index=True)
# novo_df[novo_df['confirmed'] < 0] = 0
novo_df

         data  confirmed   death         pais        lat        lon
0      202001        0.0     0.0  Afghanistan  34.039110  67.709953
1      202002        5.0     0.0  Afghanistan  34.039110  67.709953
2      202003      166.0     4.0  Afghanistan  34.039110  67.709953
3      202004     1827.0    60.0  Afghanistan  34.039110  67.709953
4      202005    15180.0   254.0  Afghanistan  34.039110  67.709953
...       ...        ...     ...          ...        ...        ...
10688  202209   257465.0  5602.0     Zimbabwe -18.915438  29.154857
10689  202210   257893.0  5606.0     Zimbabwe -18.915438  29.154857
10690  202211   259164.0  5620.0     Zimbabwe -18.915438  29.154857
10691  202212   259981.0  5637.0     Zimbabwe -18.915438  29.154857
10692  202301   259981.0  5637.0     Zimbabwe -18.915438  29.154857

[10693 rows x 6 columns]

In [ ]:
novo_df[novo_df["pais"] == "Brazil"]

In [ ]:
# plotando animacao com scatterplot durante a pandemia para verificar se há países onde há crescimento exagerado
fig = px.scatter_geo(novo_df,
                     lat=novo_df['lat'],
                     lon=novo_df['lon'],
                     color=novo_df['pais'], # which column to use to set the color of markers
                     hover_name="pais", # column added to hover information
                     size="confirmed", # size of markers
                     projection="natural earth",
                     animation_frame='data',
                     animation_group='pais',
                     width=1600,
                     height=800)
fig.show()

In [ ]:
# plotando animacao com scatterplot durante a pandemia para verificar se há países onde há crescimento exagerado
fig = px.scatter_geo(novo_df,
                     lat=novo_df['lat'],
                     lon=novo_df['lon'],
                     color=novo_df['pais'], # which column to use to set the color of markers
                     hover_name="pais", # column added to hover information
                     size="death", # size of markers
                     projection="natural earth",
                     animation_frame='data',
                     animation_group='pais',
                     width=1600,
                     height=800)
fig.show()

In [ ]:
# plotando grafico de linhas com os valores acumulados por pais
fig = px.line(novo_df, x="data", y="confirmed", color='pais', width=1600, height=800)
fig.show()

In [ ]:
# plotando grafico de linhas com os valores acumulados por pais
fig = px.line(novo_df, x="data", y="death", color='pais', width=1600, height=800)
fig.show()

# PAREI AQUI
# Analisando dados do COVID-19 em conjunto com dados sócio-econômicos

In [7]:
# realizando a leitura dos dados
# esses arquivos tem uma linha de header
# a segunda é uma região do país, caso exista, senão, vazio (NaN)
path_ = os.path.join(DATA_FOLDER, GAPMINDER_POP_AREA)
pop_area = pd.read_csv(path_, sep=',')
pop_area

,country,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,308,312,315,317,319,321,322,324,326,...,567,570,573,577,580,583,585,588,591,593
1,Afghanistan,14,14.3,14.6,14.9,15.3,15.6,15.9,16.3,16.7,...,46.1,47.7,49.4,51.1,52.7,54.2,55.6,56.9,58.3,59.6
2,Angola,4.44,4.5,4.56,4.6,4.63,4.64,4.63,4.63,4.66,...,19.4,20.1,20.9,21.6,22.4,23.1,23.9,24.7,25.5,26.4
3,Albania,60.6,62.5,64.3,66.2,68.1,69.9,71.7,73.8,76,...,106,106,106,105,105,105,105,105,104,104
4,Andorra,30.6,32.7,34.9,37.2,39.5,41.8,44.2,46.6,49,...,178,175,172,169,166,164,164,164,164,164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Samoa,39.6,40.9,42.2,43.6,44.9,46.2,47.4,48.6,49.6,...,66.2,66.8,67.4,67.9,68.4,68.7,69,69.3,69.6,70.1
213,Yemen,10.2,10.4,10.5,10.7,10.8,11,11.2,11.4,11.5,...,45.1,46.4,47.6,48.9,50.2,51.5,52.7,54,55.2,56.5
214,South Africa,14.4,14.8,15.2,15.6,16,16.4,16.8,17.3,17.7,...,42.9,43.6,44.3,45,45.7,46.3,47,47.6,48.3,48.9
215,Zambia,4.26,4.39,4.52,4.66,4.8,4.95,5.11,5.27,5.44,...,18.9,19.5,20.1,20.7,21.4,22,22.7,23.3,24,24.7
216,Zimbabwe,10.1,10.4,10.8,11.2,11.6,12,12.4,12.8,13.2,...,33.3,33.9,34.5,35.1,35.7,36.3,36.8,37.3,37.9,38.4

In [15]:
float(pop_area[pop_area["country"] == "Brazil"]["2019"])

25.4

In [23]:
for pais in confirmed_monthly.columns[2:-1]:
    print(pais, " - ", pop_area[pop_area["country"] == pais]["2019"])

Afghanistan  -  1    59.6
Name: 2019, dtype: object
Albania  -  3    104
Name: 2019, dtype: object
Algeria  -  54    18.4
Name: 2019, dtype: object
Andorra  -  4    164
Name: 2019, dtype: object
Angola  -  2    26.4
Name: 2019, dtype: object
Antarctica  -  Series([], Name: 2019, dtype: object)
Antigua and Barbuda  -  9    223
Name: 2019, dtype: object
Argentina  -  6    16.6
Name: 2019, dtype: object
Armenia  -  7    104
Name: 2019, dtype: object
Australia_Australian Capital Territory  -  Series([], Name: 2019, dtype: object)
Australia_New South Wales  -  Series([], Name: 2019, dtype: object)
Australia_Northern Territory  -  Series([], Name: 2019, dtype: object)
Australia_Queensland  -  Series([], Name: 2019, dtype: object)
Australia_South Australia  -  Series([], Name: 2019, dtype: object)
Australia_Tasmania  -  Series([], Name: 2019, dtype: object)
Australia_Victoria  -  Series([], Name: 2019, dtype: object)
Australia_Western Australia  -  Series([], Name: 2019, dtype: object)
Austria  -  11    108
Name: 2019, dtype: object
Azerbaijan  -  12    122
Name: 2019, dtype: object
Bahamas  -  20    39.3
Name: 2019, dtype: object
Bahrain  -  19    2180
Name: 2019, dtype: object
Bangladesh  -  17    1270
Name: 2019, dtype: object
Barbados  -  27    668
Name: 2019, dtype: object
Belarus  -  22    46.2
Name: 2019, dtype: object
Belgium  -  14    381
Name: 2019, dtype: object
Belize  -  23    17.4
Name: 2019, dtype: object
Benin  -  15    108
Name: 2019, dtype: object
Bhutan  -  29    20.2
Name: 2019, dtype: object
Bolivia  -  25    10.8
Name: 2019, dtype: object
Bosnia and Herzegovina  -  21    64.1
Name: 2019, dtype: object
Botswana  -  30    4.15
Name: 2019, dtype: object
Brazil  -  26    25.4
Name: 2019, dtype: object
Brunei  -  28    83
Name: 2019, dtype: object
Bulgaria  -  18    63.9
Name: 2019, dtype: object
Burkina Faso  -  16    76.4
Name: 2019, dtype: object
Burma  -  Series([], Name: 2019, dtype: object)
Burundi  -  13    463
Name: 2019, dtype: object
Cabo Verde  -  Series([], Name: 2019, dtype: object)
Cambodia  -  101    94.7
Name: 2019, dtype: object
Cameroon  -  38    56.2
Name: 2019, dtype: object
Canada_Alberta  -  Series([], Name: 2019, dtype: object)
Canada_British Columbia  -  Series([], Name: 2019, dtype: object)
Canada_Diamond Princess  -  Series([], Name: 2019, dtype: object)
Canada_Grand Princess  -  Series([], Name: 2019, dtype: object)
Canada_Manitoba  -  Series([], Name: 2019, dtype: object)
Canada_New Brunswick  -  Series([], Name: 2019, dtype: object)
Canada_Newfoundland and Labrador  -  Series([], Name: 2019, dtype: object)
Canada_Northwest Territories  -  Series([], Name: 2019, dtype: object)
Canada_Nova Scotia  -  Series([], Name: 2019, dtype: object)
Canada_Nunavut  -  Series([], Name: 2019, dtype: object)
Canada_Ontario  -  Series([], Name: 2019, dtype: object)
Canada_Prince Edward Island  -  Series([], Name: 2019, dtype: object)
Canada_Quebec  -  Series([], Name: 2019, dtype: object)
Canada_Repatriated Travellers  -  Series([], Name: 2019, dtype: object)
Canada_Saskatchewan  -  Series([], Name: 2019, dtype: object)
Canada_Yukon  -  Series([], Name: 2019, dtype: object)
Central African Republic  -  31    7.75
Name: 2019, dtype: object
Chad  -  189    13
Name: 2019, dtype: object
Chile  -  35    25.7
Name: 2019, dtype: object
China_Anhui  -  Series([], Name: 2019, dtype: object)
China_Beijing  -  Series([], Name: 2019, dtype: object)
China_Chongqing  -  Series([], Name: 2019, dtype: object)
China_Fujian  -  Series([], Name: 2019, dtype: object)
China_Gansu  -  Series([], Name: 2019, dtype: object)
China_Guangdong  -  Series([], Name: 2019, dtype: object)
China_Guangxi  -  Series([], Name: 2019, dtype: object)
China_Guizhou  -  Series([], Name: 2019, dtype: object)
China_Hainan  -  Series([], Name: 2019, dtype: object)
China_Hebei  -  Series([], Name: 2019, dtype: object)
China_Heilongjiang  -  Series([], Name: 2019, dtype: object)
China_Henan  -  Series([], Name: 2019, dtype: object)
China_Hong Kong  -  Series([], Name: 2019, dtype: object)
China_Hubei  -  Series([], Name: 2019, dtype: object)
China_Hunan  -  Series([], Name: 2019, dtype: object)
China_Inner Mongolia  -  Series([], Name: 2019, dtype: object)
China_Jiangsu  -  Series([], Name: 2019, dtype: object)
China_Jiangxi  -  Series([], Name: 2019, dtype: object)
China_Jilin  -  Series([], Name: 2019, dtype: object)
China_Liaoning  -  Series([], Name: 2019, dtype: object)
China_Macau  -  Series([], Name: 2019, dtype: object)
China_Ningxia  -  Series([], Name: 2019, dtype: object)
China_Qinghai  -  Series([], Name: 2019, dtype: object)
China_Shaanxi  -  Series([], Name: 2019, dtype: object)
China_Shandong  -  Series([], Name: 2019, dtype: object)
China_Shanghai  -  Series([], Name: 2019, dtype: object)
China_Shanxi  -  Series([], Name: 2019, dtype: object)
China_Sichuan  -  Series([], Name: 2019, dtype: object)
China_Tianjin  -  Series([], Name: 2019, dtype: object)
China_Tibet  -  Series([], Name: 2019, dtype: object)
China_Unknown  -  Series([], Name: 2019, dtype: object)
China_Xinjiang  -  Series([], Name: 2019, dtype: object)
China_Yunnan  -  Series([], Name: 2019, dtype: object)
China_Zhejiang  -  Series([], Name: 2019, dtype: object)
Colombia  -  41    45.9
Name: 2019, dtype: object
Comoros  -  42    467
Name: 2019, dtype: object
Congo (Brazzaville)  -  Series([], Name: 2019, dtype: object)
Congo (Kinshasa)  -  Series([], Name: 2019, dtype: object)
Costa Rica  -  44    99.8
Name: 2019, dtype: object
Cote d'Ivoire  -  37    83
Name: 2019, dtype: object
Croatia  -  84    71.5
Name: 2019, dtype: object
Cuba  -  45    109
Name: 2019, dtype: object
Cyprus  -  47    131
Name: 2019, dtype: object
Czechia  -  Series([], Name: 2019, dtype: object)
Denmark_Faroe Islands  -  Series([], Name: 2019, dtype: object)
Denmark_Greenland  -  Series([], Name: 2019, dtype: object)
Denmark  -  52    146
Name: 2019, dtype: object
Diamond Princess  -  Series([], Name: 2019, dtype: object)
Djibouti  -  50    42.6
Name: 2019, dtype: object
Dominica  -  51    96
Name: 2019, dtype: object
Dominican Republic  -  53    225
Name: 2019, dtype: object
Ecuador  -  55    71
Name: 2019, dtype: object
Egypt  -  56    103
Name: 2019, dtype: object
El Salvador  -  174    313
Name: 2019, dtype: object
Equatorial Guinea  -  75    50
Name: 2019, dtype: object
Eritrea  -  57    35.1
Name: 2019, dtype: object
Estonia  -  59    30.6
Name: 2019, dtype: object
Eswatini  -  184    67.5
Name: 2019, dtype: object
Ethiopia  -  60    102
Name: 2019, dtype: object
Fiji  -  62    49.1
Name: 2019, dtype: object
Finland  -  61    18.2
Name: 2019, dtype: object
France_French Guiana  -  Series([], Name: 2019, dtype: object)
France_French Polynesia  -  Series([], Name: 2019, dtype: object)
France_Guadeloupe  -  Series([], Name: 2019, dtype: object)
France_Martinique  -  Series([], Name: 2019, dtype: object)
France_Mayotte  -  Series([], Name: 2019, dtype: object)
France_New Caledonia  -  Series([], Name: 2019, dtype: object)
France_Reunion  -  Series([], Name: 2019, dtype: object)
France_Saint Barthelemy  -  Series([], Name: 2019, dtype: object)
France_Saint Pierre and Miquelon  -  Series([], Name: 2019, dtype: object)
France_St Martin  -  Series([], Name: 2019, dtype: object)
France_Wallis and Futuna  -  Series([], Name: 2019, dtype: object)
France  -  63    123
Name: 2019, dtype: object
Gabon  -  66    8.64
Name: 2019, dtype: object
Gambia  -  73    239
Name: 2019, dtype: object
Georgia  -  69    65.1
Name: 2019, dtype: object
Germany  -  49    238
Name: 2019, dtype: object
Ghana  -  70    137
Name: 2019, dtype: object
Greece  -  76    83
Name: 2019, dtype: object
Grenada  -  77    331
Name: 2019, dtype: object
Guatemala  -  79    157
Name: 2019, dtype: object
Guinea  -  72    53.4
Name: 2019, dtype: object
Guinea-Bissau  -  74    70
Name: 2019, dtype: object
Guyana  -  81    4
Name: 2019, dtype: object
Haiti  -  85    414
Name: 2019, dtype: object
Holy See  -  Series([], Name: 2019, dtype: object)
Honduras  -  83    88.5
Name: 2019, dtype: object
Hungary  -  86    107
Name: 2019, dtype: object
Iceland  -  92    3.63
Name: 2019, dtype: object
India  -  88    464
Name: 2019, dtype: object
Indonesia  -  87    146
Name: 2019, dtype: object
Iran  -  90    51.6
Name: 2019, dtype: object
Iraq  -  91    92.7
Name: 2019, dtype: object
Ireland  -  89    72.4
Name: 2019, dtype: object
Israel  -  93    426
Name: 2019, dtype: object
Italy  -  94    200
Name: 2019, dtype: object
Jamaica  -  95    273
Name: 2019, dtype: object
Japan  -  97    345
Name: 2019, dtype: object
Jordan  -  96    115
Name: 2019, dtype: object
Kazakhstan  -  98    6.95
Name: 2019, dtype: object
Kenya  -  99    94.5
Name: 2019, dtype: object
Kiribati  -  102    147
Name: 2019, dtype: object
Korea, North  -  Series([], Name: 2019, dtype: object)
Korea, South  -  Series([], Name: 2019, dtype: object)
Kosovo  -  105    NaN
Name: 2019, dtype: object
Kuwait  -  106    240
Name: 2019, dtype: object
Kyrgyzstan  -  Series([], Name: 2019, dtype: object)
Laos  -  Series([], Name: 2019, dtype: object)
Latvia  -  117    30.6
Name: 2019, dtype: object
Lebanon  -  108    667
Name: 2019, dtype: object
Lesotho  -  114    70.6
Name: 2019, dtype: object
Liberia  -  109    52.5
Name: 2019, dtype: object
Libya  -  110    3.91
Name: 2019, dtype: object
Liechtenstein  -  112    238
Name: 2019, dtype: object
Lithuania  -  115    44.6
Name: 2019, dtype: object
Luxembourg  -  116    259
Name: 2019, dtype: object
MS Zaandam  -  Series([], Name: 2019, dtype: object)
Madagascar  -  123    47.6
Name: 2019, dtype: object
Malawi  -  137    203
Name: 2019, dtype: object
Malaysia  -  138    98.5
Name: 2019, dtype: object
Maldives  -  124    1800
Name: 2019, dtype: object
Mali  -  128    16.6
Name: 2019, dtype: object
Malta  -  129    1610
Name: 2019, dtype: object
Marshall Islands  -  126    329
Name: 2019, dtype: object
Mauritania  -  135    4.51
Name: 2019, dtype: object
Mauritius  -  136    624
Name: 2019, dtype: object
Mexico  -  125    66.3
Name: 2019, dtype: object
Micronesia  -  Series([], Name: 2019, dtype: object)
Moldova  -  122    91.2
Name: 2019, dtype: object
Monaco  -  121    19.4k
Name: 2019, dtype: object
Mongolia  -  132    2.11
Name: 2019, dtype: object
Montenegro  -  131    46.2
Name: 2019, dtype: object
Morocco  -  120    82.7
Name: 2019, dtype: object
Mozambique  -  134    39.7
Name: 2019, dtype: object
Namibia  -  139    3.09
Name: 2019, dtype: object
Nauru  -  148    542
Name: 2019, dtype: object
Nepal  -  147    203
Name: 2019, dtype: object
Netherlands_Aruba  -  Series([], Name: 2019, dtype: object)
Netherlands_Bonaire, Sint Eustatius and Saba  -  Series([], Name: 2019, dtype: object)
Netherlands_Curacao  -  Series([], Name: 2019, dtype: object)
Netherlands_Sint Maarten  -  Series([], Name: 2019, dtype: object)
Netherlands  -  144    518
Name: 2019, dtype: object
New Zealand_Cook Islands  -  Series([], Name: 2019, dtype: object)
New Zealand_Niue  -  Series([], Name: 2019, dtype: object)
New Zealand  -  149    19.3
Name: 2019, dtype: object
Nicaragua  -  143    55
Name: 2019, dtype: object
Niger  -  141    19.1
Name: 2019, dtype: object
Nigeria  -  142    226
Name: 2019, dtype: object
North Macedonia  -  127    82.2
Name: 2019, dtype: object
Norway  -  146    14.7
Name: 2019, dtype: object
Oman  -  150    16.5
Name: 2019, dtype: object
Pakistan  -  151    287
Name: 2019, dtype: object
Palau  -  155    39.3
Name: 2019, dtype: object
Panama  -  152    58.2
Name: 2019, dtype: object
Papua New Guinea  -  156    19.8
Name: 2019, dtype: object
Paraguay  -  161    18
Name: 2019, dtype: object
Peru  -  153    25.8
Name: 2019, dtype: object
Philippines  -  154    368
Name: 2019, dtype: object
Poland  -  157    124
Name: 2019, dtype: object
Portugal  -  160    112
Name: 2019, dtype: object
Qatar  -  164    251
Name: 2019, dtype: object
Romania  -  165    83.7
Name: 2019, dtype: object
Russia  -  166    8.8
Name: 2019, dtype: object
Rwanda  -  167    525
Name: 2019, dtype: object
Saint Kitts and Nevis  -  Series([], Name: 2019, dtype: object)
Saint Lucia  -  Series([], Name: 2019, dtype: object)
Saint Vincent and the Grenadines  -  Series([], Name: 2019, dtype: object)
Samoa  -  212    70.1
Name: 2019, dtype: object
San Marino  -  175    566
Name: 2019, dtype: object
Sao Tome and Principe  -  179    228
Name: 2019, dtype: object
Saudi Arabia  -  168    16.2
Name: 2019, dtype: object
Senegal  -  170    87
Name: 2019, dtype: object
Serbia  -  177    78.9
Name: 2019, dtype: object
Seychelles  -  186    214
Name: 2019, dtype: object
Sierra Leone  -  173    111
Name: 2019, dtype: object
Singapore  -  171    8020
Name: 2019, dtype: object
Slovakia  -  Series([], Name: 2019, dtype: object)
Slovenia  -  182    104
Name: 2019, dtype: object
Solomon Islands  -  172    24.5
Name: 2019, dtype: object
Somalia  -  176    25.3
Name: 2019, dtype: object
South Africa  -  214    48.9
Name: 2019, dtype: object
South Sudan  -  178    17.7
Name: 2019, dtype: object
Spain  -  58    94.8
Name: 2019, dtype: object
Sri Lanka  -  113    354
Name: 2019, dtype: object
Sudan  -  169    23.7
Name: 2019, dtype: object
Summer Olympics 2020  -  Series([], Name: 2019, dtype: object)
Suriname  -  180    3.76
Name: 2019, dtype: object
Sweden  -  183    25.4
Name: 2019, dtype: object
Switzerland  -  34    219
Name: 2019, dtype: object
Syria  -  187    95.3
Name: 2019, dtype: object
Taiwan*  -  Series([], Name: 2019, dtype: object)
Tajikistan  -  192    68.7
Name: 2019, dtype: object
Tanzania  -  200    67.4
Name: 2019, dtype: object
Thailand  -  191    137
Name: 2019, dtype: object
Timor-Leste  -  194    88.7
Name: 2019, dtype: object
Togo  -  190    152
Name: 2019, dtype: object
Tonga  -  195    147
Name: 2019, dtype: object
Trinidad and Tobago  -  196    273
Name: 2019, dtype: object
Tunisia  -  197    76.1
Name: 2019, dtype: object
Turkey  -  198    110
Name: 2019, dtype: object
Tuvalu  -  199    393
Name: 2019, dtype: object
US  -  Series([], Name: 2019, dtype: object)
Uganda  -  201    228
Name: 2019, dtype: object
Ukraine  -  202    76.2
Name: 2019, dtype: object
United Arab Emirates  -  5    139
Name: 2019, dtype: object
United Kingdom_Anguilla  -  Series([], Name: 2019, dtype: object)
United Kingdom_Bermuda  -  Series([], Name: 2019, dtype: object)
United Kingdom_British Virgin Islands  -  Series([], Name: 2019, dtype: object)
United Kingdom_Cayman Islands  -  Series([], Name: 2019, dtype: object)
United Kingdom_Channel Islands  -  Series([], Name: 2019, dtype: object)
United Kingdom_Falkland Islands (Malvinas)  -  Series([], Name: 2019, dtype: object)
United Kingdom_Gibraltar  -  Series([], Name: 2019, dtype: object)
United Kingdom_Guernsey  -  Series([], Name: 2019, dtype: object)
United Kingdom_Isle of Man  -  Series([], Name: 2019, dtype: object)
United Kingdom_Jersey  -  Series([], Name: 2019, dtype: object)
United Kingdom_Montserrat  -  Series([], Name: 2019, dtype: object)
United Kingdom_Pitcairn Islands  -  Series([], Name: 2019, dtype: object)
United Kingdom_Saint Helena, Ascension and Tristan da Cunha  -  Series([], Name: 2019, dtype: object)
United Kingdom_Turks and Caicos Islands  -  Series([], Name: 2019, dtype: object)
United Kingdom  -  68    278
Name: 2019, dtype: object
Uruguay  -  203    19.8
Name: 2019, dtype: object
Uzbekistan  -  205    77.7
Name: 2019, dtype: object
Vanuatu  -  211    25.2
Name: 2019, dtype: object
Venezuela  -  207    32.2
Name: 2019, dtype: object
Vietnam  -  210    314
Name: 2019, dtype: object
West Bank and Gaza  -  Series([], Name: 2019, dtype: object)
Winter Olympics 2022  -  Series([], Name: 2019, dtype: object)
Yemen  -  213    56.5
Name: 2019, dtype: object
Zambia  -  215    24.7
Name: 2019, dtype: object
Zimbabwe  -  216    38.4
Name: 2019, dtype: object

In [ ]:
# Pergunta 1: Há relação entre população e quantidade de casos?

In [ ]:
# focando em dados do Brasil:
brasil = pd.DataFrame().assign(data=confirmed.Data, confirmed=confirmed.Brazil, death=death.Brazil)
brasil["confirmed_ac"] = brasil["confirmed"].cumsum()
brasil["death_ac"] = brasil["death"].cumsum()
brasil

In [ ]:
# checando por valores negativos:
print(brasil[brasil["confirmed"] < 0])
print(brasil[brasil["death"] < 0])
# valores negativos possivelmente se devem a reavaliações ou retratação
# de dados anteriores errados

In [ ]:
df = px.data.gapminder().query("year == 2007")
df

In [ ]:
plt.figure(figsize=(10,7))
plt.plot(brasil.data, brasil.confirmed)

In [ ]:
plt.figure(figsize=(10,7))
plt.plot(brasil[(brasil["data"] > "2022-09-19") & (brasil["data"] < "2022-09-22")].data, brasil[(brasil["data"] > "2022-09-19") & (brasil["data"] < "2022-09-22")].confirmed)

In [ ]:
brasil[(brasil["data"] > "2022-09-19") & (brasil["data"] < "2022-09-22")]

In [ ]:
plt.plot(brasil.data, brasil.confirmed_ac)

In [ ]:
df = px.data.gapminder().query("year == 2007")
fig = px.scatter_geo(df, locations="iso_alpha",
                     color="continent", # which column to use to set the color of markers
                     hover_name="country", # column added to hover information
                     size="pop", # size of markers
                     projection="natural earth")
# fig = px.scatter_geo(geo_df,
#                     lat=geo_df.geometry.y,
#                     lon=geo_df.geometry.x,
#                     hover_name="name")
fig.show()

In [ ]:
df

In [ ]:
df = px.data.gapminder()
df

In [ ]:
novo_confirmed_2 = confirmed.copy()
novo_confirmed_2.drop('Total', inplace=True)
novo_confirmed_2

In [ ]:
location
location[location["Country/Region"] == "Brazil"]['Lat'].values[0]

In [ ]:
#checa se tem menor que zero
empty_df[empty_df['confirmed'] < 0]

In [ ]:

fig, ax = plt.subplots()
ax.set_xlim([0, 10])

scat = ax.scatter(1, 0)
x = np.linspace(0, 10)


def animate(i):
    scat.set_offsets((x[i], 0))
    return scat,

ani = animation.FuncAnimation(fig, animate, repeat=True,
                                    frames=len(x) - 1, interval=50)

# To save the animation using Pillow as a gif
writer = animation.PillowWriter(fps=15,
                                metadata=dict(artist='Me'),
                                bitrate=1800)
ani.save('scatter.gif', writer=writer)
# plt.show()